* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  background-color: rgba(255, 255, 255, 0.719);
}

body,
html {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 27px 100px;
  position: relative;
}
.left img {
  height: 50px;
  width: 126px;
}
.right a {
  width: 73px;
  height: 22px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1b1b1d;
  margin-right: 40px;
  text-decoration: none;
}

.right a:hover {
  text-decoration: underline;
}
.right img:hover {
  /* border: 2px solid red;
      border-radius: 50%;
      padding: 3px; */

  border-radius: 50%;
  outline: 2px solid red;
  outline-offset: 7px;
}

.right button {
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 10px;
  line-height: 26px;
  border-radius: 30px;
  padding: 15px 30px;
}

.right button:hover {
  text-decoration: underline;
}
/* 
   ! MAİN LEFT */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__left {
  position: relative;
  width: 28rem;
  height: 40rem;
  margin-top: 1rem;
}
.main__left h1 {
  font-size: 6rem;
  line-height: 7rem;
}
.main__left h1 img {
  width: 4rem;
}

.main__left--smalltext {
  width: 22rem;
  height: 10vh;
  margin: 1rem 0;
  color: #64646a;
}
.main__left--button button {
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border-radius: 2rem;
}
.main__left--button a {
  margin-left: 2rem;
  color: black;
  font-size: 0.9rem;
  /* font-weight: 500; */
}

/* !MAİN RİGHT */

.main__right--coffeecup img {
  width: 550px;
}
.main__right--logo img {
  position: absolute;
  top: 12rem;
  right: 30rem;
  
}

.main__right--mask img {
  position: absolute;
  top: 17rem;
  margin-left: 6.3rem;
  width: 27rem;
  height: 20rem;
  opacity: 0.9;
}

.main__right--raiting {
  position: absolute;
  top: 35rem;
  margin-left: 2rem;
  width: 13rem;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
}
.main__right--raiting p {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  color: #64646a;
}

.main__right--raiting i {
  font-size: 1.1rem;
}

@media (max-width: 960px) {
  .main {
    flex-wrap: wrap;
  }
  .main__right--logo img {
    top: 52rem;
  }
  .main__right--mask img {
    top: 54.5rem;
  }
  .main__right--rating {
    top: 68.5rem;
  }
  header {
    width: 30rem;
  }
  .left img {
    width: 10rem;
  }
  header.right {
    column-gap: 1vh;
    width: 20rem;
  }
}
